.manage-schedule-container {
  .m-s-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    color: #0071ba;
  }
  .pick-hour-container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    button {
      padding: 5px 15px;
      border: 1px solid #0071ba;
    }
    .btn-schedule {
      background-color: #edecec;
      outline: none;
      box-shadow: none;
      transition: all 0.3s;
      &.active {
        background-color: #f6c336;
        outline: none;
        box-shadow: none;
        color: white;
        border: 1px solid transparent;
      }
    }
  }
  .btn-save-schedule {
    margin-top: 20px;
  }
}
